* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;

  /* White page & top/bottom images & gradient */
  background-color: white;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.18) 0%,
      rgba(0, 0, 0, 0) 22%,
      rgba(0, 0, 0, 0) 78%,
      rgba(0, 0, 0, 0.18) 100%
    ),
    url("top-image.png"),
    url("bottom-image.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top center, top center, bottom center;
  background-size: 100% auto, 100% auto, 100% auto;

  
  border-top: 1mm solid #8b0000;
  border-bottom: 1mm solid #8b0000;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;

  /* Logo background */
  background: url("logo.png") center / contain no-repeat;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.35));
}